PORT=
HOST=
APP_URL=

AUTH_URL=
BETTER_AUTH_SECRET=
FRONTEND_URL=

DATABASE_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

S3_BUCKET=
S3_BASE_URL=

REDIS_URL=